{% extends "layouts/base.html" %}
{% load i18n static %}

{% block title %} Home {% endblock title %}

{% block overlay %}
  <div class="min-height-300 bg-primary position-absolute w-100"></div>
{% endblock overlay %}

{% block content %}
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-header pb-0">
            <h6>Vehicles</h6>
          </div>
          <div class="card-body px-0 pt-0 pb-2">
            <div class="pagination align-items-center">
              <span class="step-links">
                  {% if page_obj.has_previous %}
                      <a href="?page=1">&laquo; first</a>
                      <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                  {% endif %}
          
                  <span class="current">
                      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                  </span>
          
                  {% if page_obj.has_next %}
                      <a href="?page={{ page_obj.next_page_number }}">next</a>
                      <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                  {% endif %}
              </span>
          </div>
            <div class="table-responsive p-0">
              
              <table class="table align-items-start mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Vehicle</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">VIN</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Driver</th>
                    <th class="text-secondary opacity-7"></th>
                  </tr>
                </thead>
                <tbody>
                  {% for vehicle in page_obj %}
                      <br>
                  
                  <tr>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div>
                          <img src="/{{  vehicle.img }}" class="avatar avatar-sm me-3" alt="user1">
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm">{{ vehicle.year }} {{ vehicle.make }} {{ vehicle.model }}</h6>
                          <p class="text-xs text-secondary mb-0">{{ vehicle.nickname }}</p>
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="text-xs font-weight-bold mb-0  px-2 py-2">{{ vehicle.vin }}</p>
                    </td>
                    <td>
                      <p class="text-xs font-weight-bold mb-0  px-2 py-2">{{ vehicle.primary_driver }}</p>
                    </td>
                    <td class="align-middle">
                      <a href="/vehicle/detail/{{ vehicle.id }}" class="badge badge-sm bg-gradient-success" data-toggle="tooltip" data-original-title="View Vehicle">
                        View
                      </a>
                    </td>
                  </tr>
                  {% endfor %}

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    {% include 'includes/footer.html' %}
  </div>
{% endblock content %}
